name: Build and Test
on: [push, pull_request]

jobs:
  testing:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Clone Repo
        uses: actions/checkout@v1

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Install NDK
        run: echo "y" | sudo /usr/local/lib/android/tools/bin/sdkmanager --install 'ndk;20.0.5594570' --sdk_root=${ANDROID_SDK_ROOT}

      - name: Build Dcrlibwallet
        run: ./dcrlibwallet.sh

      - name: Run Android Linter
        run: ./gradlew lintTstnetDebug

      - name: Assemble Debug APK
        run: ./gradlew assembleTstnetDebug

      